# Python virtual environment
venv/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
*.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE files
.vscode/
.idea/
